src/conf/xml-resources/web-service-references/ServiceVenta/wsdl/localhost_8080/Punto-de-venta/ServiceVenta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ServiceVenta">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Punto-de-venta/ServiceVenta?xsd=1"/>
</xsd:schema>
</types>
<message name="listarTipPago">
<part name="parameters" element="tns:listarTipPago"/>
</message>
<message name="listarTipPagoResponse">
<part name="parameters" element="tns:listarTipPagoResponse"/>
</message>
<message name="listarFactura">
<part name="parameters" element="tns:listarFactura"/>
</message>
<message name="listarFacturaResponse">
<part name="parameters" element="tns:listarFacturaResponse"/>
</message>
<message name="listarProducto">
<part name="parameters" element="tns:listarProducto"/>
</message>
<message name="listarProductoResponse">
<part name="parameters" element="tns:listarProductoResponse"/>
</message>
<message name="listarItemFactura">
<part name="parameters" element="tns:listarItemFactura"/>
</message>
<message name="listarItemFacturaResponse">
<part name="parameters" element="tns:listarItemFacturaResponse"/>
</message>
<message name="obtenerTipoPagoPorId">
<part name="parameters" element="tns:obtenerTipoPagoPorId"/>
</message>
<message name="obtenerTipoPagoPorIdResponse">
<part name="parameters" element="tns:obtenerTipoPagoPorIdResponse"/>
</message>
<message name="listarClasificaion">
<part name="parameters" element="tns:listarClasificaion"/>
</message>
<message name="listarClasificaionResponse">
<part name="parameters" element="tns:listarClasificaionResponse"/>
</message>
<message name="crearClasificacion">
<part name="parameters" element="tns:crearClasificacion"/>
</message>
<message name="crearClasificacionResponse">
<part name="parameters" element="tns:crearClasificacionResponse"/>
</message>
<message name="listarPersona">
<part name="parameters" element="tns:listarPersona"/>
</message>
<message name="listarPersonaResponse">
<part name="parameters" element="tns:listarPersonaResponse"/>
</message>
<message name="crearItemFactura">
<part name="parameters" element="tns:crearItemFactura"/>
</message>
<message name="crearItemFacturaResponse">
<part name="parameters" element="tns:crearItemFacturaResponse"/>
</message>
<message name="crearPersona">
<part name="parameters" element="tns:crearPersona"/>
</message>
<message name="crearPersonaResponse">
<part name="parameters" element="tns:crearPersonaResponse"/>
</message>
<message name="crearFactura">
<part name="parameters" element="tns:crearFactura"/>
</message>
<message name="crearFacturaResponse">
<part name="parameters" element="tns:crearFacturaResponse"/>
</message>
<message name="crearTipoPago">
<part name="parameters" element="tns:crearTipoPago"/>
</message>
<message name="crearTipoPagoResponse">
<part name="parameters" element="tns:crearTipoPagoResponse"/>
</message>
<message name="crearProducto">
<part name="parameters" element="tns:crearProducto"/>
</message>
<message name="crearProductoResponse">
<part name="parameters" element="tns:crearProductoResponse"/>
</message>
<message name="crearProveedor">
<part name="parameters" element="tns:crearProveedor"/>
</message>
<message name="crearProveedorResponse">
<part name="parameters" element="tns:crearProveedorResponse"/>
</message>
<message name="listarProveedor">
<part name="parameters" element="tns:listarProveedor"/>
</message>
<message name="listarProveedorResponse">
<part name="parameters" element="tns:listarProveedorResponse"/>
</message>
<portType name="ServiceVenta">
<operation name="listarTipPago">
<input wsam:Action="http://ws/ServiceVenta/listarTipPagoRequest" message="tns:listarTipPago"/>
<output wsam:Action="http://ws/ServiceVenta/listarTipPagoResponse" message="tns:listarTipPagoResponse"/>
</operation>
<operation name="listarFactura">
<input wsam:Action="http://ws/ServiceVenta/listarFacturaRequest" message="tns:listarFactura"/>
<output wsam:Action="http://ws/ServiceVenta/listarFacturaResponse" message="tns:listarFacturaResponse"/>
</operation>
<operation name="listarProducto">
<input wsam:Action="http://ws/ServiceVenta/listarProductoRequest" message="tns:listarProducto"/>
<output wsam:Action="http://ws/ServiceVenta/listarProductoResponse" message="tns:listarProductoResponse"/>
</operation>
<operation name="listarItemFactura">
<input wsam:Action="http://ws/ServiceVenta/listarItemFacturaRequest" message="tns:listarItemFactura"/>
<output wsam:Action="http://ws/ServiceVenta/listarItemFacturaResponse" message="tns:listarItemFacturaResponse"/>
</operation>
<operation name="obtenerTipoPagoPorId">
<input wsam:Action="http://ws/ServiceVenta/obtenerTipoPagoPorIdRequest" message="tns:obtenerTipoPagoPorId"/>
<output wsam:Action="http://ws/ServiceVenta/obtenerTipoPagoPorIdResponse" message="tns:obtenerTipoPagoPorIdResponse"/>
</operation>
<operation name="listarClasificaion">
<input wsam:Action="http://ws/ServiceVenta/listarClasificaionRequest" message="tns:listarClasificaion"/>
<output wsam:Action="http://ws/ServiceVenta/listarClasificaionResponse" message="tns:listarClasificaionResponse"/>
</operation>
<operation name="crearClasificacion">
<input wsam:Action="http://ws/ServiceVenta/crearClasificacionRequest" message="tns:crearClasificacion"/>
<output wsam:Action="http://ws/ServiceVenta/crearClasificacionResponse" message="tns:crearClasificacionResponse"/>
</operation>
<operation name="listarPersona">
<input wsam:Action="http://ws/ServiceVenta/listarPersonaRequest" message="tns:listarPersona"/>
<output wsam:Action="http://ws/ServiceVenta/listarPersonaResponse" message="tns:listarPersonaResponse"/>
</operation>
<operation name="crearItemFactura">
<input wsam:Action="http://ws/ServiceVenta/crearItemFacturaRequest" message="tns:crearItemFactura"/>
<output wsam:Action="http://ws/ServiceVenta/crearItemFacturaResponse" message="tns:crearItemFacturaResponse"/>
</operation>
<operation name="crearPersona">
<input wsam:Action="http://ws/ServiceVenta/crearPersonaRequest" message="tns:crearPersona"/>
<output wsam:Action="http://ws/ServiceVenta/crearPersonaResponse" message="tns:crearPersonaResponse"/>
</operation>
<operation name="crearFactura">
<input wsam:Action="http://ws/ServiceVenta/crearFacturaRequest" message="tns:crearFactura"/>
<output wsam:Action="http://ws/ServiceVenta/crearFacturaResponse" message="tns:crearFacturaResponse"/>
</operation>
<operation name="crearTipoPago">
<input wsam:Action="http://ws/ServiceVenta/crearTipoPagoRequest" message="tns:crearTipoPago"/>
<output wsam:Action="http://ws/ServiceVenta/crearTipoPagoResponse" message="tns:crearTipoPagoResponse"/>
</operation>
<operation name="crearProducto">
<input wsam:Action="http://ws/ServiceVenta/crearProductoRequest" message="tns:crearProducto"/>
<output wsam:Action="http://ws/ServiceVenta/crearProductoResponse" message="tns:crearProductoResponse"/>
</operation>
<operation name="crearProveedor">
<input wsam:Action="http://ws/ServiceVenta/crearProveedorRequest" message="tns:crearProveedor"/>
<output wsam:Action="http://ws/ServiceVenta/crearProveedorResponse" message="tns:crearProveedorResponse"/>
</operation>
<operation name="listarProveedor">
<input wsam:Action="http://ws/ServiceVenta/listarProveedorRequest" message="tns:listarProveedor"/>
<output wsam:Action="http://ws/ServiceVenta/listarProveedorResponse" message="tns:listarProveedorResponse"/>
</operation>
</portType>
<binding name="ServiceVentaPortBinding" type="tns:ServiceVenta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarTipPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarItemFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerTipoPagoPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClasificaion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearClasificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearItemFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearTipoPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarProveedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiceVenta">
<port name="ServiceVentaPort" binding="tns:ServiceVentaPortBinding">
<soap:address location="http://localhost:8080/Punto-de-venta/ServiceVenta"/>
</port>
</service>
</definitions>