src/conf/xml-resources/web-service-references/ServiceVenta/wsdl/localhost_8080/Punto-de-venta/ServiceVenta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="crearClasificacion" type="tns:crearClasificacion"/>

<xs:element name="crearClasificacionResponse" type="tns:crearClasificacionResponse"/>

<xs:element name="crearFactura" type="tns:crearFactura"/>

<xs:element name="crearFacturaResponse" type="tns:crearFacturaResponse"/>

<xs:element name="crearItemFactura" type="tns:crearItemFactura"/>

<xs:element name="crearItemFacturaResponse" type="tns:crearItemFacturaResponse"/>

<xs:element name="crearPersona" type="tns:crearPersona"/>

<xs:element name="crearPersonaResponse" type="tns:crearPersonaResponse"/>

<xs:element name="crearProducto" type="tns:crearProducto"/>

<xs:element name="crearProductoResponse" type="tns:crearProductoResponse"/>

<xs:element name="crearProveedor" type="tns:crearProveedor"/>

<xs:element name="crearProveedorResponse" type="tns:crearProveedorResponse"/>

<xs:element name="crearTipoPago" type="tns:crearTipoPago"/>

<xs:element name="crearTipoPagoResponse" type="tns:crearTipoPagoResponse"/>

<xs:element name="listarClasificaion" type="tns:listarClasificaion"/>

<xs:element name="listarClasificaionResponse" type="tns:listarClasificaionResponse"/>

<xs:element name="listarFactura" type="tns:listarFactura"/>

<xs:element name="listarFacturaResponse" type="tns:listarFacturaResponse"/>

<xs:element name="listarItemFactura" type="tns:listarItemFactura"/>

<xs:element name="listarItemFacturaResponse" type="tns:listarItemFacturaResponse"/>

<xs:element name="listarPersona" type="tns:listarPersona"/>

<xs:element name="listarPersonaResponse" type="tns:listarPersonaResponse"/>

<xs:element name="listarProducto" type="tns:listarProducto"/>

<xs:element name="listarProductoResponse" type="tns:listarProductoResponse"/>

<xs:element name="listarProveedor" type="tns:listarProveedor"/>

<xs:element name="listarProveedorResponse" type="tns:listarProveedorResponse"/>

<xs:element name="listarTipPago" type="tns:listarTipPago"/>

<xs:element name="listarTipPagoResponse" type="tns:listarTipPagoResponse"/>

<xs:element name="obtenerTipoPagoPorId" type="tns:obtenerTipoPagoPorId"/>

<xs:element name="obtenerTipoPagoPorIdResponse" type="tns:obtenerTipoPagoPorIdResponse"/>

<xs:complexType name="crearFactura">
<xs:sequence>
<xs:element name="idFactura" type="xs:int"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="descuento" type="xs:double"/>
<xs:element name="total" type="xs:double"/>
<xs:element name="idPersona" type="xs:int"/>
<xs:element name="idTipoPago" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerTipoPagoPorId">
<xs:sequence>
<xs:element name="idTipoPago" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerTipoPagoPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:tipoPago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoPago">
<xs:sequence>
<xs:element name="desripcion" type="xs:string" minOccurs="0"/>
<xs:element name="facturas" type="tns:factura" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id_tipo_pago" type="xs:int"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="descuento" type="xs:double"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="id_factura" type="xs:int"/>
<xs:element name="id_persona" type="xs:int"/>
<xs:element name="id_tipo_pago" type="xs:int"/>
<xs:element name="itemFactura" type="tns:itemFactura" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="persona" type="tns:persona" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="tiposPago" type="tns:tipoPago" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="total" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemFactura">
<xs:sequence>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="factura" type="tns:factura" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id_factura" type="xs:int"/>
<xs:element name="id_itemfactura" type="xs:int"/>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="producto" type="tns:producto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="subtotal" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="clasificacion" type="tns:clasificacion" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id_clasificacion" type="xs:int"/>
<xs:element name="id_producto" type="xs:int"/>
<xs:element name="id_proveedor" type="xs:int"/>
<xs:element name="itemFactura" type="tns:itemFactura" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="iva" type="xs:boolean"/>
<xs:element name="precio_unitario" type="xs:double"/>
<xs:element name="proveedor" type="tns:proveedores" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="unidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clasificacion">
<xs:sequence>
<xs:element name="grupo" type="xs:string" minOccurs="0"/>
<xs:element name="id_clasificacion" type="xs:int"/>
<xs:element name="productos" type="tns:producto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proveedores">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="id_proveedor" type="xs:int"/>
<xs:element name="moneda" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="productos" type="tns:producto" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="facturas" type="tns:factura" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id_persona" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarItemFactura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarItemFacturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:itemFactura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPersona">
<xs:sequence>
<xs:element name="idPersona" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido" type="xs:string" minOccurs="0"/>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPersonaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarTipPago">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarTipPagoResponse">
<xs:sequence>
<xs:element name="return" type="tns:tipoPago" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPersona">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarPersonaResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProducto">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProductoResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearItemFactura">
<xs:sequence>
<xs:element name="iditemFactura" type="xs:int"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="precio" type="xs:double"/>
<xs:element name="subtotal" type="xs:double"/>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="idFactura" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearItemFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearClasificacion">
<xs:sequence>
<xs:element name="idClasificacion" type="xs:int"/>
<xs:element name="grupo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearClasificacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarProveedor">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarProveedorResponse">
<xs:sequence>
<xs:element name="return" type="tns:proveedores" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarFactura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarFacturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearTipoPago">
<xs:sequence>
<xs:element name="idTipoPago" type="xs:int"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearTipoPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProducto">
<xs:sequence>
<xs:element name="idProducto" type="xs:int"/>
<xs:element name="stock" type="xs:int"/>
<xs:element name="precioUnitario" type="xs:double"/>
<xs:element name="unidad" type="xs:string" minOccurs="0"/>
<xs:element name="idClasificacion" type="xs:int"/>
<xs:element name="idProveedor" type="xs:int"/>
<xs:element name="iva" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProveedor">
<xs:sequence>
<xs:element name="idProveedor" type="xs:int"/>
<xs:element name="ruc" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="moneda" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearProveedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarClasificaion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarClasificaionResponse">
<xs:sequence>
<xs:element name="return" type="tns:clasificacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>